version: 2.1

orbs:
  matlab: mathworks/matlab@<<pipeline.parameters.dev-orb-version>>
  orb-tools: circleci/orb-tools@9.1

# Pipeline parameters
parameters:
  # These pipeline parameters are required by the "trigger-integration-tests-workflow"
  # job, by default.
  run-integration-tests:
    type: boolean
    default: false
  dev-orb-version:
    type: string
    default: "dev:alpha"

integration-tests: &integration-tests
  [
    integration-test-install,
    integration-test-install-release,
    integration-test-run-command,
    integration-test-run-tests
  ]

executors:
  linux-machine:
    machine:
      image: ubuntu-1604:201903-01

jobs:
  integration-test-install:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor>>
    steps:
      - matlab/install
      - run:
          name: Verify the matlab and mex scripts are available
          command: |
            set -e
            matlab -batch version
            mex -h

  integration-test-install-release:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor>>
    steps:
      - matlab/install:
          release: R2020a
      - run:
          name: Verify the matlab and mex scripts are available
          command: |
            set -e
            matlab -batch "assert(strcmp(version('-release'),'2020a'))"

  integration-test-run-command:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor>>
    steps:
      - matlab/install
      - matlab/run-command:
          command: f = fopen('myscript.m', 'w'); fwrite(f, 'assert(true)'); fclose(f);
      - matlab/run-command:
          command: myscript
      - matlab/run-command:
          command: "eval(\"a = 1+2\"); assert(a == 3); eval('b = 3+4'); assert(b == 7);"
      - matlab/run-command:
          command: 'eval("a = 1+2"); assert(a == 3); eval(''b = 3+4''); assert(b == 7);'
      - matlab/run-command:
          command: a = """hello world"""; b = '"hello world"'; assert(strcmp(a,b), a+b);
      - matlab/run-command:
          command: |
            a = " !""#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~"; b = char([32:126]); assert(strcmp(a, b), a+b);
      - matlab/run-command:
          command: |
            [~, exp] = system("echo " + getenv('CIRCLE_WORKING_DIRECTORY')); exp = strtrim(exp); act = pwd; assert(strcmp(act, exp), strjoin({act exp}, '\n'));
      - run:
          command: echo 'myvar = 123' > startup.m
      - matlab/run-command:
          command: assert(myvar==123, 'myvar was not set as expected by startup.m')

  integration-test-run-tests:
    parameters:
      executor:
        type: executor
    executor: <<parameters.executor>>
    steps:
    # Setup for Integ tests for matlab/run-tests
      - matlab/install
      - run:
          command: |
            echo 'myvar = 123' > startup.m
            mkdir src
            echo 'function c=add(a,b);c=a+b;' > src/add.m
            mkdir tests
            echo "%% StartupTest" > tests/mytest.m
            echo "evalin('base','assert(myvar==123)')" >> tests/mytest.m
            echo "%% FirstTest" >> tests/mytest.m
            echo "assert(add(1,2)==3)" >> tests/mytest.m
            mkdir tests/filteredTest
            echo "%% simpleTest" >> tests/filteredTest/filtertest.m
            echo "assert(2==2)" >> tests/filteredTest/filtertest.m
            printf "%% FilterByTag\n" >> tests/filteredTest/TaggedTest.m
            printf "classdef (TestTags = {'FILTERED'}) TaggedTest < matlab.unittest.TestCase\n" >> tests/filteredTest/TaggedTest.m
            printf "methods (Test)\n function testTag (testCase)\n assert(2==2);\n end\n end\n end" >> tests/filteredTest/TaggedTest.m
            printf "model = 'simple_model';" > tests/createModelAndTest.m
            printf "new_system(model);" >> tests/createModelAndTest.m
            printf "load_system(model);" >> tests/createModelAndTest.m
            printf "add_block('built-in/Constant', [model, '/Constant']);" >> tests/createModelAndTest.m
            printf "save_system(model);" >> tests/createModelAndTest.m
            printf "close_system(model);" >> tests/createModelAndTest.m
            printf "sltest.testmanager.clear;" >> tests/createModelAndTest.m
            printf "sltest.testmanager.clearResults;" >> tests/createModelAndTest.m
            printf "tf = sltest.testmanager.TestFile('test.mldatx');" >> tests/createModelAndTest.m
            printf "ts = tf.getTestSuites;" >> tests/createModelAndTest.m
            printf "tc = ts.getTestCases;" >> tests/createModelAndTest.m
            printf "tc.setProperty('model', model);" >> tests/createModelAndTest.m
            printf "tf.saveToFile;" >> tests/createModelAndTest.m
            printf "tf.close;" >> tests/createModelAndTest.m
            printf "sltest.testmanager.close;" >> tests/createModelAndTest.m
            printf "disp('Created Model and Simulink Test file to simulate the model.');" >> tests/createModelAndTest.m
            printf "evalin('base', 'clear all');" >> tests/createModelAndTest.m

    # Integ tests for matlab/run-tests
      - matlab/run-tests:
          source-folder: src
      - matlab/run-tests:
          test-results-junit: test-results/matlab/results.xml
          code-coverage-cobertura: code-coverage/coverage.xml
          source-folder: src
      - matlab/run-tests:
          test-results-junit: test-results/matlab/filterdtestresult.xml
          select-by-folder: tests/filteredTest
      - matlab/run-tests:
          test-results-junit: test-results/matlab/filterdtagresult.xml
          select-by-tag: FILTERED
      - matlab/run-tests:
          model-coverage-cobertura: model-coverage/coverage.xml
          test-results-pdf: test-resuts/matlab/pdfresults.pdf
          test-results-simulink-test: test-resuts/matlab/simulinkTest.mldatx

      - run:
          name: Verify test results file was created
          command: |
            set -e
            grep -q FirstTest test-results/matlab/results.xml
      - run:
          name: Verify code coverage file was created
          command: |
            set -e
            grep -q add code-coverage/coverage.xml
      - run:
          name: Verify filtered test results file was created
          command: |
            set -e
            grep -q simpleTest test-results/matlab/filterdtestresult.xml
            grep -v FirstTest test-results/matlab/filterdtestresult.xml
      - run:
          name: Verify filter by tag test results file was created
          command: |
            set -e
            grep -q TaggedTest test-results/matlab/filterdtagresult.xml
            grep -v FirstTest test-results/matlab/filterdtagresult.xml
            grep -v simpleTest test-results/matlab/filterdtagresult.xml

    # Set up for model coverage artifact tests
      - matlab/run-command:
          command: cd tests;createModelAndTest;

      - run:
          name: Verify pdf test report file generation
          command: |
            set -e
            test -f test-resuts/matlab/pdfresults.pdf
      - run:
          name: Verify Simulink Test result file generation
          command: |
            set -e
            test -f test-resuts/matlab/simulinkTest.mldatx
      - run:
          name: Verify model coverage file was created
          command: |
            set -e
            grep -q simple_model model-coverage/coverage.xml


workflows:
  # This `lint-pack_validate_publish-dev` workflow will run on any commit.
  lint_pack-validate_publish-dev:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      # Lint your YAML
      - orb-tools/lint

      # pack your orb YAML files to a single orb.yml
      # validate the orb.yml file to ensure it is well-formed
      - orb-tools/pack

      # release dev version of orb, for testing & possible publishing.
      # orb will be published as dev:alpha and dev:${CIRCLE_SHA1:0:7}.
      # requires a CircleCI API token to be stored as CIRCLE_TOKEN (default)
      # https://circleci.com/docs/2.0/managing-api-tokens
      # store CIRCLE_TOKEN as a project env var or Contexts resource
      # if using Contexts, add your context below
      - orb-tools/publish-dev:
          orb-name: mathworks/matlab
          requires:
            - orb-tools/lint
            - orb-tools/pack

      # trigger an integration workflow to test the
      # dev:${CIRCLE_SHA1:0:7} version of your orb
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          requires:
            - orb-tools/publish-dev

  # This `integration-tests_prod-release` workflow will only run
  # when the run-integration-tests pipeline parameter is set to true.
  # It is meant to be triggered by the "trigger-integration-tests-workflow"
  # job, and run tests on <your orb>@dev:${CIRCLE_SHA1:0:7}.
  integration-tests_prod-release:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      # your integration test jobs go here: essentially, run all your orb's
      # jobs and commands to ensure they behave as expected. or, run other
      # integration tests of your choosing
      - integration-test-install:
          matrix:
            parameters:
              executor: [linux-machine]

      - integration-test-install-release:
          matrix:
            parameters:
              executor: [linux-machine]

      - integration-test-run-command:
          matrix:
            parameters:
              executor: [linux-machine]

      - integration-test-run-tests:
          matrix:
            parameters:
              executor: [linux-machine]

      # publish a semver version of the orb. relies on
      # the commit subject containing the text "[semver:patch|minor|major|skip]"
      # as that will determine whether a patch, minor or major
      # version will be published or if publishing should
      # be skipped.
      # e.g. [semver:patch] will cause a patch version to be published.
      - orb-tools/dev-promote-prod-from-commit-subject:
          orb-name: mathworks/matlab
          add-pr-comment: false
          fail-if-semver-not-indicated: true
          publish-version-tag: true
          ssh-fingerprints: e0:48:de:54:c4:e8:fb:15:1c:1c:a5:89:95:e5:23:69
          requires: *integration-tests
          filters:
            branches:
              only: master
